@model IEnumerable<GestaoEstoque.Application.DTOs.ProdutoDTO>

@{
    ViewData["Tilte"] = "Produtos";
}

<div>
    <h2>@ViewData["Tilte"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Criar" class="btn btn-primary">
                    <span title="Novo registro" class="fas fa-plus"></span> Novo registro
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagem)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                            <span class="fas fa-edit">Editar</span>
                        </a>
                        <a asp-action="Detalhes" asp-route-id="@item.Id" title="Detalhes" class="btn btn-primary">
                            <span class="fas fa-search">Detalhes</span>
                        </a>
                        <a asp-action="Deletar" asp-route-id="@item.Id" title="Deletar" class="btn btn-danger">
                            <span class="fas fa-trash-alt">Deletar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>